@page "/"
@layout LandingPageLayout

<PageTitle>AI Meal Maker - Make your next meal</PageTitle>

<div class="page">
    <div class="pagestyle">
        <nav class="row align-items-center p-2">
            <div class="col text-end me-3">
                <a href="https://mw-portfoliopage.netlify.app/" target="_blank">About</a>
            </div>
        </nav>
        <main class="landingPage">
            <div class="text-center">
                <img src="/images/AiMealMakerLogo-400.png" height="300" />
            </div>
            <div class="text-center mt-5">
                <a href="/createmeal" class="btn btn-success btn-lg">Get Started</a>
            </div>
        </main>
        <footer class="text-center p-2">
            &copy; 2024 Mike Williams
        </footer>
    </div>
</div>
